<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>RTC-Chat</title>
    <link rel="icon" href="icon/favicon.ico">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/features.css">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@300&display=swap" rel="stylesheet">

    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>

</head>

<body>
    <nav class="navbar">
        <div class="navbrand">
            <a href="">RTC-Chat</a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="#features">Features</a>
                </li>
                <li>
                    <a href="/join">Join Us</a>
                </li>
                <li>
                    <a href="/call">Try US Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <input type="checkbox" class="checkbox" id="chk">
    <label class="label" for="chk">
        <i class="fas fa-moon"></i>
        <i class="fas fa-sun"></i>
        <div class="ball"></div>
    </label>

    <div class="container1">
        <h1>Easy Screen Sharing</h1>
        <p>Whether you have a last-minute meeting on the go, or your friend doesn’t know <br> how to use his phone... Screen sharing will help you from any deice. <br> Select a specific app or your whole screen to share. </p>
        <button class="button"><a href="form.html">Try Now</a></button>
    </div>
    <img class="ss1" src="images/ss.png" alt="screen share" width="780px" height="450px">
    <div class="container2">
        <h2>Share Your Screen with Multiple People</h2>
        <p>From PowerPoint presentations to videos, photos and even on-screen polls, screen sharing makes collaboration easy. With integrated screen sharing.<br>Working in a group setting? Gathering the family for a remote get-together? Sharing silly photos
            with friends around the world? <br> You can share screens with two or more people without any hassle.</p>
    </div>
    <div class="container3">
        <h3>What can I screen share?</h3>
        <i class="fas fa-mobile-alt"></i>
        <p class="mobile_text"><b>Share your desktop or mobile screen</b> <br>Easily share presentations, holiday photos or anything on your screen <br> during a call with integrated screen sharing.</p>
        <i class="fas fa-desktop"></i>
        <p class="desktop_text">
            <b>Share only application window</b><br>We your understands privacy and that is why you can only share application window <br>on your devices. Worry less about showing your private information.</p>
    </div>
    <div class="container4">
        <h4>Group Video Chat</h4>
        <p>Connect with the Important People in Your Life <br>In today’s always-on-the-go world, it can be difficult to get groups of friends, <br> family members or coworkers together in one place. <br> With the us, group video calling is now easier than
            ever. </p>
        <button class="button"><a href="form.html">Try Now</a></button>
    </div>
    <img class="vc" src="images/vc.png" alt="laptop screen video call" width="780px" height="450px">
    <div class="container5">
        <h5>Connect with the Important People in Your Life</h5>
        <p>We know that video is essential to maintaining personal connections with those who matter<br>most to you whether they’re down the street or on another continent. See the faces of those <br>you love, enjoying spontaneous get-togethers with friends
            from any device, all with group video chat.</p>
    </div>
    <img class="famvc" src="images/famvc.png" alt="mobile screen video call" width="319px" height="600px">
    <div class="container6">
        <h6>Additional Features</h6>
        <p>We provide a variety of innovative features:</p>
    </div>
    <div class="extra">
        <i class="fas fa-comments"></i>
        <i class="fas fa-expand"></i>
        <i class="fas fa-lock"></i>
        <p class="full_text"><b>Full-screen video</b><br>Immersive, full screen video allows you to focus on<br>your work while you attend a meeting or just casual<br>chat with your friends.</p>
        <p class="chat_text"><b>Text Messages</b><br>Take part from direct messages to group conversations</p>
        <p class="sec_text"><b>High Privacy with UDP</b><br>Whether it's one-to-one calls, group calls or video messages, your conversations will always stay private with UDP encryption. </p>
        <button class="button2"><a href="signup.html">Get Started</a></button>
    </div>
    <footer class="footer-distributed">
        <div class="footer-left">
            <h3>Rtc<span>Chat</span></h3>
            <p class="footer-links">
                <a href="#">Home</a> ·
                <a href="#">About</a> ·
                <a href="#">Contact</a>
            </p>

            <p class="footer-company-name">RTC-Chat © 2020</p>

            <div class="footer-icons">

                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-linkedin"></i></a>
                <a href="#"><i class="fab fa-github"></i></a>

            </div>

        </div>

        <div class="footer-right">

            <p>Contact Us</p>

            <form action="#" method="post">

                <input type="text" name="email" placeholder="Email">
                <textarea name="message" placeholder="Message"></textarea>
                <button>Send</button>

            </form>


        </div>

    </footer>
    <script src="js/ss.js"></script>
</body>

</html>