<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>RTC-Chat</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="icon/favicon.ico">
    <link rel="stylesheet" href="css/join.css">
    <script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap" rel="stylesheet">

</head>

<body>
    <nav class="navbar">
        <div class="navbrand">
            <a href="">RTC-Chat</a>
        </div>
        <div class="nav-links">
            <ul>
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/features">Features</a>
                </li>
                <li>
                    <a href="#join">Join Us</a>
                </li>
                <li>
                    <a href="/room">Try US Out</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="register" class="form">
        <h1><b>Sign up</b></h1>
        <div class="f1">
            <i class="fas fa-user"></i>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="f2">
            <i class="fas fa-envelope"></i>
            <input type="text" id="email" placeholder="Email address">
        </div>
        <div class="f3">
            <i class="fas fa-lock"></i>
            <input type="password" id="pwd" placeholder="Password">
        </div>
        <p>I agree to abide by RTC-Chat's Terms of Service <br> and its Privacy Policy</p>
        <button class="signup-btn"><a href="">Sign Up</a></button>
        <div class="social-signup">
            <h2>Or sign up with social platforms</h2>
            <button><a href=""><i class="fab fa-instagram fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-google fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-facebook-f fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-github fa-3x"></i></a></button>
        </div>
        <div class="sbanner">
            <img src="images/sign up.jpg" alt="video-chat">
        </div>
        <div class="sign-in">
            <p>One of us? <br> Please sign in back to your account...</p>
            <button class="sign-btn"><a href="#" >Login</a></button>
        </div>
    </div>

    <div class="form2" id="login">
        <h3>Login</h3>
        <div class="f4">
            <i class="fas fa-user"></i>
            <input type="text" id="username" placeholder="Username">
        </div>
        <div class="f5">
            <i class="fas fa-lock"></i>
            <input type="password" id="pwd" placeholder="Password">
        </div>
        <button class="lbtn"><a href="#">Login</a></button>
        <div class="social-signup">
            <h2>Or sign up with social platforms</h2>
            <button><a href=""><i class="fab fa-instagram fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-google fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-facebook-f fa-3x"></i></a></button>
            <button><a href=""><i class="fab fa-github fa-3x"></i></a></button>
        </div>
        <div class="sign-up">
            <p> New here ? <br> Join the RTC family, we keep you connected...</p>
            <button class="login-btn"><a href="#">Sign up</a></button>
        </div>

        <div class="lbanner">
            <img src="images/lock.png" alt="video-chat">
        </div>
    </div>

    <script src="js/join.js"></script>

</body>

</html>