.navbar{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.check1
{
  font-family: 'Patrick Hand';
  font-weight: bold;
  font-size: 25px;
  position:absolute;
       top:625px;
       bottom:0;
       left:40px;
       right:0;
       margin:auto auto;
       text-align:center;
}
.check2
{
  font-family: 'Patrick Hand';
  font-weight: bold;
  font-size: 25px;
  position:absolute;
       top:695px;
       bottom:0;
       left:40px;
       right:0;
       margin:auto auto;
       text-align:center;
}
.container{
  max-width: 75  0px;
  font-family: 'Roboto Slab', serif;
  text-align: center;
  position: absolute;
  top:325px;
  left:410px;
}
.avatar_icon{
  position: absolute;
  top: 170px;
  left: 900px;
}
